@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html{
    overflow-x: clip;
}

body{
    font-family: "Peralta", serif;
    background-image: url("../assets/img/background.webp");
    background-color: $background-color;
    background-blend-mode: multiply;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center none;
}