@use "variables" as *;

button{
    font-family: inherit;
    border: none;
    color: $inverted-text-color;
    background-color: $accent-color;
    padding: 0.5rem 0.5rem;
    width: 100%;
    border-radius: 10px;
    transition: background-color ease 400ms, color ease 400ms;
    &:hover{
        background-color: $muted-color;
        color: $text-color;
    }
    >p{
        color:inherit;
    }
}