@use "variables" as *;

input{
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    &:focus{
        outline: none;
        border: $border-color solid 2px;
    }
}