// Color
$text-color: #fdfdfd;
$inverted-text-color:#000000;
$background-color:#363636;
$accent-color:#f18127;
$muted-color:#944300;
$border-color:#f18127;

// Layout
$section-margin: min(80%,1200px);
$bp-names: "","-md","-lg";
$bp-sizes: 0px,540px,960px; 
$spacing-sizes: 0rem ,0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 4rem, 5rem;

