// Color
$text-color: #1b78a5;
$inverted-text-color:#ffffff;
$background-color:#1b78a5;
$accent-color:#1b78a5;
$muted-color:#7aabc4;
$border-color:#1b78a5;

// Layout
$section-margin: min(80%,1200px);
$bp-names: "","-md","-lg";
$bp-sizes: 0px,540px,960px; 
$spacing-sizes: 0rem ,0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 4rem, 5rem;

